%footer
  .mailing-list.text-right
    = link_to 'Join Mailing List', 'JavaScript:void(0)', class: 'mailing-list-btn modal-open'
  .row
    .column
      %nav
        %ul
          %li
            = link_to 'https://open.spotify.com/artist/3Kf1L4yUEfiU06KOZxz5xM', target: '_blank' do
              %i.fab.fa-spotify
          %li
            = link_to 'https://play.google.com/store/music/artist?id=A2qs5t4p55ujtlsjh62fyhxdety', target: '_blank' do
              %i.fab.fa-google-play
          %li
            = link_to 'https://music.apple.com/us/artist/bad-magnets/1479631752', target: '_blank' do
              %i.fab.fa-itunes
          %li
            = link_to 'https://badmagnets.bandcamp.com/releases', target: '_blank' do
              %i.fab.fa-bandcamp
          %li
            = link_to 'https://soundcloud.com/bad-magnets', target: '_blank' do
              %i.fab.fa-soundcloud
          %li
            = link_to 'https://www.amazon.com/gp/product/B07XXP5HJD', target: '_blank' do
              %i.fab.fa-amazon
