%footer
  .row
    .column
      %nav
        %ul
          %li
            = link_to '#change-me', target: '_blank' do
              %i.fab.fa-spotify
          %li
            = link_to 'https://play.google.com/store/music/album/Bad_Magnets_I?id=Btpn7ds5tkr27z37ozaj27jv63y', target: '_blank' do
              %i.fab.fa-google-play
          %li
            = link_to 'https://music.apple.com/us/album/i-ep/1480181565?app=itunes&ign-mpt=uo%3D4', target: '_blank' do
              %i.fab.fa-itunes
          %li
            = link_to '#change-me', target: '_blank' do
              %i.fab.fa-bandcamp
          %li
            = link_to '#change-me', target: '_blank' do
              %i.fab.fa-soundcloud
          %li
            = link_to '#change-me', target: '_blank' do
              %i.fab.fa-instagram
