%header
  .row(data-aos="flip-down" data-aos-duration="500" data-aos-easing="ease-in-out" data-aos-delay="0")
    .column
      .logo.text-center
        = link_to root_path do
          %h1.header-logo
            %span.dark.john BAD
            %span.joe.accent-color MAGNETS
      %nav.left
        %ul
          %li.text= link_to 'Music', music_path, class: 'joe'
          %li.text= link_to 'Live', live_path, class: 'joe'
      %nav.right
        %ul
          -# %li.text.relative.drop-down-link
          -#   = link_to 'Media', '#'
          -#   %ul.drop-down
          -#     %li.text= link_to 'News', news_path
          %li.text= link_to 'News', news_path, class: 'joe'
          %li.text= link_to 'Contact', contact_path, class: 'joe'
