!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta(name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no")
    %link{:href => "https://unpkg.com/aos@next/dist/aos.css", :rel => "stylesheet"}/
    %title= content_for?(:title) ? yield(:title) : 'Bad Magnets'
    %meta{ name: "description", content: content_for?(:description) ? yield(:description) : 'The official home of Bad Magnets.  Music that makes your TV break.'}

    %link{:href => "/apple-touch-icon.png", :rel => "apple-touch-icon", :sizes => "180x180"}/
    %link{:href => "/favicon-32x32.png", :rel => "icon", :sizes => "32x32", :type => "image/png"}/
    %link{:href => "/favicon-16x16.png", :rel => "icon", :sizes => "16x16", :type => "image/png"}/
    %link{:href => "/site.webmanifest", :rel => "manifest"}/
    %link{:color => "#e3a765", :href => "/safari-pinned-tab.svg", :rel => "mask-icon"}/
    %meta{:content => "#ffffff", :name => "msapplication-TileColor"}/
    %meta{:content => "#ffffff", :name => "theme-color"}/


    %title Bad Magnets
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    = render 'layouts/header'
    %main
      = yield
    = render 'layouts/footer'
    = render 'modals/email_list'

    %script(src="https://unpkg.com/aos@next/dist/aos.js")
:javascript
  AOS.init({disable: 'mobile'});

  $(document).ready(function() {
    $('.modal-open').click(function() {
      BadMagnets.openModal($('.modal'));
    });
  });
